body{
background-color: #dddd9b;
}

h1{
font-size: 70px;
font-family:Georgia;
color: rgb(86, 86, 61);
}
p{
font-size: 40px;
font-family:Georgia;
color: rgb(115, 115, 82);
}


.clickable {
font-weight: bolder;
text-decoration: none;
color: rgb(93, 85, 75);
font-size: 30px;
background-color: #b6b677;
}

.clickable2 {
font-weight: bolder;
text-decoration: none;
color: rgb(93, 85, 75);
font-size: 30px;
background-color: #b6b677;
float: right;
    }

.Right {
text-align: Right;
;
}

.fRight {
    float:Right;
}

.button {
background-color: rgb(179, 173, 122);
border: none;
height: 50px;
width: 170px;
font-size: 25px;
font-family:Georgia;
border-radius: 5px;
cursor: pointer;
transition: background-color 1s;
transition: color 0.7s;
transition: box-shadow 0.4s;
margin-left: 8px;
margin-right: 8px;
}

.button:hover {
background-color: rgb(131, 123, 88);
color: rgb(173, 167, 167);
box-shadow: 5px 5px 15px rgb(72, 71, 71);

}
.credit {
font-size: 10px;
}


