body{background-color: #dddd9b;
}
h1{
    font-size: 70px;
    font-family:Georgia;
    color: rgb(86, 86, 61);
}
p{
    font-size: 40px;
    font-family:Georgia;
    color: rgb(115, 115, 82);
}
.clickable {
font-weight: bolder;
text-decoration: none;
color: rgb(93, 85, 75);
font-size: 50px;
font: rgb(186, 182, 145);
}